{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "14"
        },
        "modules": false
      }
    ]
  ],
  "plugins": [["@babel/plugin-transform-runtime", {
    "corejs": 3,
    "useESModules": true
  }]]
}
